table.MyStocksTable{
    table-layout: fixed;
  width: 100%; 
  font-size: 25px;
}

.MyStocksTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
  }

  .MyStocksTable tr:nth-child(even){background-color: #f2f2f2;}

  .MyStocksTable td, .MyStocksTable th {
    border: 1px solid #ddd;
    padding: 8px;
  } 

  button.StopTrackingBtn{
    font-size: 25px;
    border-radius: 4px;
    color: whitesmoke;
    background-color:red;
    margin: 4px 2px;
    padding: 10px 20px;
  }

  .mstocks{
    float: left;
    font-size: 32px;
  }